{% extends "bootstrap/base.html" %}



{% block navbar %}
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">F A R M A @ </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/registro">registrar</a></li>
      <li><a href="/logout">salir</a></li>
    </ul>
  </div>
</nav>




{% endblock %}


  





