{% extends "base.html" %}
{% block content %}

<head>
<style>
body{
	background:#63646d 
}
</style>
</head>
<body>
	<p style="text-align: center;font-family: Courier ;font-size: 40px;color:white">Resultado</p><br><br>
<div class="container-fluid">	
    {{tabla|safe}}
</div>
<a href="/consulta" class="btn btn-default">Hacer una nueva consulta</a>
 {% block footer %}
        <br>
      <p style="text-align: center;background-color:#63646d;font-family: Courier;color:rgb(185,185,185) ">F A R M A @ </p>
        <br>
        <br>
      {% endblock %}

{% endblock %}
