{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}


{% block content %}

<form action="#" method="POST">
    <div class="form-group">
        <div class="input-group">
			<h1>Buscar</h1>
            <select name="consulta_seleccionada" class="selectpicker form-control" required>
                <option value="pmv">Productos mas vendidos</option>
                <option value="cmg">Clientes que mas gastaron</option>
                <option value="ppc">Productos por cliente</option>
                <option value="cpp">Clientes por producto</option>
            </select>
            <input type="text" name="fitroBusqueda">                
        </div>
        <button type="submit">Buscar</button>
    </div>
</form>
 
{% endblock %}


